:root {
    --primary: #0071E3;
    --dark: #0d0d0d;
    --light: hsl(0, 0%, 95%);
    --unit: 8px;
    --border-color: #cccccc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid green; */
}

html {
    font-size: 16px;
    font-family: "Inter", sans-serif;
}

body {
    background-color: var(--light);
    color: var(--dark);
}

.container {
    max-width: 736px;
    margin: 0 auto;
    padding: calc(var(--unit)*8) calc(var(--unit)*2);
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: calc(var(--unit)*8);
}

h1 {
    font-size: 2rem;
    font-weight: 700;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

h3 {
    font-size: 1.25rem;
    font-weight: 500;
}

h4 {
    font-size: .75rem;
    font-weight: 300;
}

p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--primary);
}

button {
    cursor: pointer;
}

.btn {
    display: inline-block;
    font-size: 14px;
    padding: calc(var(--unit)*1) calc(var(--unit)*2);
    background-color: var(--primary);
    color: var(--light);
    border-radius: 100px;
    border: 0;
    font-weight: 500;
    transition: background-color .3s ease;
    cursor: pointer;
}

.btn:hover {
    filter: brightness(.95);
}



header {
    display: flex;
    align-items: center;
    gap: calc(var(--unit)*4);
}

header .avatar img {
    width: 128px;
    height: 128px;
    border-radius: 100px;
    object-fit: cover;
    border: solid var(--border-color) 1px;
}

header .intro {
    display: flex;
    gap: var(--unit);
    justify-content: space-between;
    align-items: top;
    flex-grow: 1;
    flex-wrap: wrap;
}

nav {
    width: 100%;
    position: sticky;
    top: 0;
    padding: var(--unit) 0;
    z-index: 100000;
}

nav::before {
    content: "";
    background-color: #f2f2f2;
    width: 100%;
    height: 27px;
    position: absolute;
    top: 0;
    left: 0;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: solid var(--border-color) 1px;
    border-radius: 100px;
    backdrop-filter: blur(20px);
    background-color: #f2f2f26e;
    box-shadow: 0px 4px 16px #00000013;
}

nav ul li {
    flex-grow: 1;
    padding: 1px;
}

nav ul li button {
    width: 100%;
    border-radius: 100px;
    text-align: center;
    padding: var(--unit);
    border: solid transparent 1px;
    background-color: transparent;
    transition: .5s ease-in-out;
}

nav ul li button:hover {
    background-color: #ffffff;
}

nav ul li button.active {
    background-color: #ffffff;
    border: solid var(--border-color) 1px;
}


footer {
    text-align: center;
}

footer p {
    padding: 0;
    font-size: .75rem;
    opacity: .6;
}

/*
<div class="project-card">
                            <div class="project-image">
                                <img src="${project.cover}" alt="${project.title}">
                            </div>
                            <h2>${project.title}</h2>
                            <p>${project.subtitle}</p>
                            <p class="project-description">${project.description}</p>
                            <button class="btn" id="${project.id}" target="_blank">Voir le projet</button>
                        </div>
*/

section {
    display: flex;
    flex-direction: column;
    gap: calc(var(--unit)*8);
}

section .project-card .project-image {
    width: 100%;
    margin-bottom: calc(var(--unit)*2);
}

.project-card .project-image img {
    width: 100%;
    object-fit: cover;
    border-radius: var(--unit);
}

.project-card p.project-description {
    font-size: 14px;
    opacity: .6;
    padding: calc(var(--unit)*2) 0;
}

/* <div class="project-modal"><div class="project-project-container"><button id="modal_close" class="modal-close">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path
                                    d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                            </svg>
                        </button><div class="content"><h1 id="project_title">Titre de projet</h1><p id="descrption">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi inventore fuga distinctio voluptas,
iure itaque saepe delectus animi sapiente sunt. </p><img src="https://res.cloudinary.com/dsy6m5omi/image/upload/v1775655550/project01_cover_u9rcta.jpg"
alt="projet cover" id="projet_cover"><div class="wrapper"><h2>Problem</h2><p id="problem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas quaerat dolore rerum possimus libero. </p></div><div class="wrapper"><h2>Solution</h2><p id="solution">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas quaerat dolore rerum possimus libero. </p></div><div class="wrapper" id="visuels"><h2>Visuels</h2><div class="images"><img src="https://res.cloudinary.com/dsy6m5omi/image/upload/v1775655550/project01_cover_u9rcta.jpg"
alt="projet cover" id="projet_cover"><img src="https://res.cloudinary.com/dsy6m5omi/image/upload/v1775655550/project01_cover_u9rcta.jpg"
alt="projet cover" id="projet_cover"><img src="https://res.cloudinary.com/dsy6m5omi/image/upload/v1775655550/project01_cover_u9rcta.jpg"
alt="projet cover" id="projet_cover"></div></div></div></div> */

.project-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000000;
    padding: var(--unit) 0;
}

.project-modal .project-container {
    max-width: 736px;
    height: 100%;
    overflow-y: auto;
    margin: 0 auto;
    padding: calc(var(--unit)*8) 0;
    padding-top: 0;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: calc(var(--unit)*8);
    background-color: var(--light);
    border: solid var(--border-color) 1px;
    border-radius: var(--unit);
}

.project-modal .project-container::-webkit-scrollbar {
    width: 2px;
}

.project-modal .project-container::-webkit-scrollbar-track {
    background: transparent;
}

.project-modal .project-container::-webkit-scrollbar-thumb {
    background-color: var(--border-color);
    border-radius: 4px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: top;
    position: sticky;
    top: 0;
    background-color: var(--light);
    padding: calc(var(--unit)*2);
    padding-right: calc(var(--unit)*3);
    border-bottom: solid var(--border-color) 1px;
    z-index: 100000;
}

.project-modal .project-container .modal-close {
    background-color: transparent;
    border: 0;
    opacity: .6;
    padding: 0;
}

.project-modal .project-container .modal-close:hover {
    opacity: 1;
}

.project-modal .project-container .content {
    display: flex;
    flex-direction: column;
    gap: calc(var(--unit)*8);
    padding: calc(var(--unit)*2);
}

.project-modal .project-container .content img {
    width: 100%;
    object-fit: cover;
    border-radius: var(--unit);
}

.project-modal .project-container .content .wrapper {
    display: flex;
    flex-direction: column;
    gap: calc(var(--unit)*2);
}

.project-modal .project-container .content .wrapper p {
    opacity: .6;
}

.project-modal .project-container .content #visuels .images {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--unit)*8);
}

.project-modal .project-container .content #visuels .images img {
    width: 100%;
    border: solid var(--border-color) 1px;
}